/**
 * Site dependencies
 * See https://github.com/the-range/styles for more info
 */

@import "modules/all-modules";
@import "components/all-components";
@import "partials/base";

html {
    position: relative;
    min-height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	color: $text;
	min-height: 900px;
	overflow-x: hidden !important;
}

/*  --------------------------------------------------
        Bootstrap Overwrites
-------------------------------------------------- */ 

a {
  color: $orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: $orange-hover;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.progress {
  box-shadow: none;
}

.alert {
  border-radius: 0px;
}

.site-overlay {
	display: none;
	background-color: $text;
	bottom: 0;
	left: 0;
	opacity: 0.8;
	filter: alpha(opacity = 50);
	z-index: 1;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	outline: 0;
}

.height-wrap {
	overflow: hidden;
	overflow-y: hidden;
}

.back-button.header {
  margin-top: 12px;
}