// #fixit - UNIFY: basket fulfilment, product fulfilment and checkout postcode

/* Address Selector */

.address-selecter {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    border: #FFF !important;
    background-color: #FFF !important;
}

.address-item {
    padding: 10px;
    min-height: 30px;
    text-align: left;
    color: #000;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-top: none;
    font-size: 14px;
    
    &:hover {
        
    }

    &:first-child {
    	border-top: 1px solid #CCCCCC;
    }
}

.address-item:hover {
    font-weight: bolder;
    cursor: pointer;
}

.address_input_field {
    color: black;
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
}

.address-additional {
    padding-top: 30px;
}

.lookup-button {
    height: 40px;
}

.delivery_stock_wrap {
    border-bottom: 1px solid $secondary;
}