/* Stylised Container Left */
.pv_cir {
	border: $orange 1px solid;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    display: block;
    margin-top: 3px;
}

.pv_li {
	border-left: $secondary 1px solid;
    height: 82%;
    display: block;
    margin-top: 4px;
    margin-left: 8px;
}


.product_stock_wrapper {
    overflow: hidden;
    padding-top: 10px;
    clear: both;
    padding-bottom: 15px;
}

.product_stock_header {
  border: 1px solid #e2e4e1;
  padding: 10px;
  background-color: #fcfefb;
}

.product_stock_header_icon {
    height: 18px;
    width: auto;
    margin-right: 4px;
    vertical-align: -20%;
}

.product_stock_header_edit_icon {
  height: 12px;
  width: 12px;
  vertical-align: baseline;
  cursor: pointer;
  margin-left: 4px;
}

.product_stock_header_editable {
	color: $blue;
	cursor: pointer;
	font-weight: bold;
}

/* Stock & Delivery List */

ul.product_stock_content {
    overflow: hidden;
    margin-bottom: 0px;
    clear: both;
    
    li {
    	list-style: none;
    	padding-bottom: 2px;
    	
    }
}



.product_stock_content_icon {
  height: 25px;
  width: 38px;
  margin-top: 12px;
  float: left;
  margin-bottom: 8px;
}
.product_stock_content_icon.product_page {
  height: 100%;
  width: 32px;
}

p#p_s_del_info, p#p_s_store_info {
	line-height: 18px;
    margin-bottom: 0px;
    
    &.no-stock {
		color: #333333;
		text-decoration: underline;
    }
}

.product_stock_order_in_text {
  color: #C50909;
}

.product_stock_order_in_text_day {
  color: #3c7f53;
}

.product_stock_content_text {
  padding: 8px !important;
}

.p_s_options {
	color: $blue;
	display: block;
	
	&:after {
	    background-image: url(/img/up_arrow_blue.png);
	    background-size: 10px 10px;
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        margin-top: 6px;
        position: absolute;
        margin-left: 3px;
        transition: all 0.3s ease;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
	}

    &.is_expanded {
        &:after {
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }

}

/* Inline Taken from Page */

.stk_info_text {
	overflow: hidden;
}

.stk_location {
  margin-bottom: 10px;
}

.stk_location_input {
  width: 100%;
  height: 36px;
  color: grey;
  padding: 7px;
  font-size: 14px;
}
.stk_location_input:before {
  background-image: url(http://172.15.10.187:800/img/location/icons/crosshair.png);
  background-size: 22px 20px;
  content: "";
  display: block;
  background-position: 0px -1px;
  height: 21px;
  width: 21px;
  margin-right: 2px;
  float: left;
}

.stk_location_country {
  margin-bottom: 10px;
}
.stk_location_country a {
  color: #7F7E7E;
  overflow: hidden;
  float: left;
  display: inline-block;
}
.stk_location_country a span {
  font-weight: normal;
}
.stk_location_country a span:hover {
  color: #7F7E7E;
  text-decoration: none;
}
.stk_location_country a:hover {
  color: #7F7E7E;
  text-decoration: none;
}

.stk_location_country_icon {
  width: 20px;
  margin-right: 6px;
  display: inline-block;
  float: left;
  margin-top: 3px;
}

.stk_location_change_country {
  padding-top: 3px;
  text-align: left;
}

.stk_location_change_country a {
  color: blue;
  text-decoration: underline;
}


.stock_level {
  color: #3c7f53;
  font-weight: bold;
}

.location_selector .input-group-btn .btn {
  height: 34px;
}

.search_suggestion {
  width: 100%;
  border: 1px solid #e2e4e1;
  padding: 6px;
  padding-left: 8px;
  border-top: none;
}

.search_suggestion:hover {
  opacity: 1;
  color: black;
  cursor: pointer;
}

.country_suggestion {
  border-bottom: 1px solid #e2e4e1;
  font-size: 14px;
  padding: 5px;
}
.country_suggestion:last-child {
  border-bottom: none;
}

.country_suggestion:hover {
  opacity: 0.6;
  color: black;
  cursor: pointer;
}

.selected_country {
  background-color: #e2e4e1;
}

.country_list {
  border: 1px solid #e2e4e1;
  background-color: #fcfefb;
}

.country_list::-webkit-scrollbar {
  width: 12px;

  height: 12px;

}

.country_list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.country_list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

.country_select {
  vertical-align: top;
}

// p#p_s_del_info, p#p_s_store_info {
// 	padding-left: 14px;
// 	padding-top: 3px;
// }

ul.p_s_cont li {
	padding-top: 20px;
    // padding-bottom: 14px;

    &:first-child {
    	padding-top: 0px;
    }
}

.stk_use_my_location:hover {
  cursor: pointer;
  opacity: 0.7;
}

.stk_use_my_location {
  position: absolute;
  width: 20px;
  top: 6px;
  right: 22px;
}

.tk_av {
	position: absolute;
	top: 2px;
	left: 15px;
	height: 17px;
	width: 17px;
	z-index: 99999;
	background-color: white;
}
