
.product_stock_wrapper {
  overflow: hidden;
  border: 1px solid #e2e4e1;
  margin-bottom: 10px;
  padding-top: 10px;
}

.product_stock_header {
  border: 1px solid #e2e4e1;
  padding: 10px;
  background-color: #fcfefb;
}

.product_stock_header_icon {
  height: 16px;
  width: 28px;
  margin-right: 2px;
  vertical-align: -20%;
}

.product_stock_header_edit_icon {
  height: 12px;
  width: 12px;
  vertical-align: baseline;
  cursor: pointer;
  margin-left: 4px;
}

.product_stock_header_editable {
  color: #337ab7;
  cursor: pointer;
  font-weight: bold;
}
.product_stock_header_editable:after {
  background-image: url(/img/edit_pencil.png);
  background-size: 12px 12px;
  content: "";
  display: inherit;
  background-position: 0px 0px;
  height: 14px;
  width: 14px;
  margin-left: 5px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: -16%;
}

ul.product_stock_content {
  color: #55514e;
  font-size: 14px;
  overflow: hidden;
  padding-left: 0px;
  margin-bottom: 0px;
}
ul.product_stock_content li {
  list-style: none;
  padding-bottom: 2px;
  border-top: 1px solid #e2e4e1;
}
ul.product_stock_content li:nth-child(2n+2) {
  background-color: #ededed;
}

.product_stock_content_icon {
  height: 25px;
  width: 38px;
  margin-top: 12px;
  float: left;
  margin-bottom: 8px;
}
.product_stock_content_icon.product_page {
  height: 100%;
  width: 32px;
}

.product_stock_available_text {
  color: #3c7f53;
  display: block;
  font-weight: bold;
  clear: right;
  overflow: hidden;
  padding-left: 6px;
}
.product_stock_available_text.no-stock {
  color: #C50909;
}

p#product_stock_delivery_info, p#product_stock_near_store_info {
  clear: right;
  overflow: hidden;
  display: block;
  line-height: 18px;
  padding-left: 6px;
  font-size: 13px;
  margin-bottom: 0px;
}
p#product_stock_delivery_info.no-stock, p#product_stock_near_store_info.no-stock {
  color: #333333;
  text-decoration: underline;
}

.product_stock_order_in_text {
  color: #C50909;
}

.product_stock_order_in_text_day {
  color: #3c7f53;
}

.product_stock_content_text {
  padding: 8px !important;
}

.product_stock_content_options {
  color: #337ab7;
}
.product_stock_content_options:after {
  background-image: url(/img/chevron-down.png);
  background-size: 12px 12px;
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-top: 3px;
  position: absolute;
  margin-left: 2px;
}

.product_stock_content_options_collapse {
  color: #337ab7;
}
.product_stock_content_options_collapse:after {
  background-image: url(/img/chevron-up.png);
  background-size: 12px 12px;
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-top: 3px;
  position: absolute;
  margin-left: 2px;
}

.stk_info_text {
  margin-bottom: 10px;
  overflow: hidden;
}

.stk_location {
  margin-bottom: 10px;
}

.stk_location_input {
  width: 100%;
  height: 36px;
  color: grey;
  padding: 7px;
  font-size: 14px;
}
.stk_location_input:before {
  background-image: url(http://172.15.10.187:800/img/location/icons/crosshair.png);
  background-size: 22px 20px;
  content: "";
  display: block;
  background-position: 0px -1px;
  height: 21px;
  width: 21px;
  margin-right: 2px;
  float: left;
}

.stk_location_country {
  margin-bottom: 10px;
}
.stk_location_country a {
  color: #7F7E7E;
  overflow: hidden;
  float: left;
  display: inline-block;
}
.stk_location_country a span {
  font-weight: normal;
}
.stk_location_country a span:hover {
  color: #7F7E7E;
  text-decoration: none;
}
.stk_location_country a:hover {
  color: #7F7E7E;
  text-decoration: none;
}

.stk_location_country_icon {
  width: 20px;
  margin-right: 6px;
  display: inline-block;
  float: left;
  margin-top: 3px;
}

.stk_location_change_country {
  padding-top: 3px;
  text-align: left;
}

.stk_location_change_country a {
  color: blue;
  text-decoration: underline;
}

.stk_mfc_wrapper {
  border-top: 1px solid #e2e4e1;
  padding-top: 4px;
  padding-bottom: 4px;
}

.stock_level {
  color: #3c7f53;
  font-weight: bold;
}

.location_selector .input-group-btn .btn {
  height: 34px;
}

.search_suggestion {
  width: 100%;
  border: 1px solid #e2e4e1;
  padding: 6px;
  padding-left: 8px;
  border-top: none;
}

.search_suggestion:hover {
  opacity: 1;
  color: black;
  cursor: pointer;
}

.country_suggestion {
  border-bottom: 1px solid #e2e4e1;
  font-size: 14px;
  padding: 5px;
}
.country_suggestion:last-child {
  border-bottom: none;
}

.country_suggestion:hover {
  opacity: 0.6;
  color: black;
  cursor: pointer;
}

.selected_country {
  background-color: #e2e4e1;
}

.country_list {
  border: 1px solid #e2e4e1;
  background-color: #fcfefb;
}

.country_list::-webkit-scrollbar {
  width: 12px;

  height: 12px;

}

.country_list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.country_list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

.country_select {
  vertical-align: top;
}

p#product_stock_delivery_info, p#product_stock_near_store_info {
  padding-left: 14px;
  padding-top: 3px;
}

ul.product_stock_content li {
  border-bottom: none;
  padding-top: 6px;
  padding-bottom: 8px;
}

.stk_use_my_location:hover {
  cursor: pointer;
  opacity: 0.7;
}

.stk_use_my_location {
  position: absolute;
  width: 20px;
  top: 6px;
  right: 22px;
}
