// #fixit - validity?

.zoomContainer {
	-webkit-transform: translateZ(0);
	position:absolute;
	left:90.5px;
	top:366px;
	height:368px;
	width:368px;
}

.zoomLens {
	 float: right;
    overflow: hidden;
    z-index: 999;
    transform: translateZ(0px);
    opacity: 0.4;
    zoom: 1;
    width: 98.1333px;
    height: 98.1333px;
    cursor: default;
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    left: 270px;
    top: 52px;
    display: none;
    background-color: white;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.zoomWindow {
    border: 1px solid $secondary !important;
}