#add-to-basket-modal-content img.product-image {
    width: 100% !important;
}

.modal-content {
	border-radius: 0px;
}

/*
// #fixit - flatten!!
.basket-add {

	.basket-header-container {
		width: 100%;	
		clear: both;
		overflow: hidden;
	}

	// #fixit - remove extends
	.basket-secondary-container {
		@extend .col-lg-6;
		@extend .col-md-6;
		@extend .col-sm-6;
		
		.basket-fufilment-summary-wrap {
			padding: 10px 8px 10px 8px;
			border: 1px solid $secondary;
			overflow: hidden;
		}

		@media (min-width: 960px) {

			.basket-fufilment-summary-wrap {
			  padding: 20px;
			}
		}

		.basket-secondary {

			// #fixit - remove extends
			.basket-fufilment-summary {
				@extend .col-lg-12;
				@extend .col-md-12;
				@extend .col-sm-12;
				float: left;
				border-top: none;
				padding: 0px;
				margin-bottom: 0;
				margin-top: 0;

				.basket-fufilment-subtotal {
					padding-top: 0;
					border: none;
					
					.title {
						font-weight: 700;
					}

					.value {
						
					}
				}
			}

			.basket-fufilment-button-checkout {
				@extend .col-lg-12;
				@extend .col-md-12;
				@extend .col-sm-12;
				padding: 0px;
				padding-top: 8px;
				float: left;
				clear: none;
				
				.button {
					@extend .col-lg-7;
					@extend .col-md-6;
					@extend .col-sm-7;
					@extend .col-xs-7;
					margin-top: 0;
					padding: 0 0 0 6px;
					
					a {
						font-size: 12px;
					}
					
					@media (min-width: 600px) {
						a {
							padding: 8px 4px 8px 4px;
						}
					}
				}

				.edit-basket {
					@extend .col-lg-5;
					@extend .col-md-6;
					@extend .col-sm-5;
					@extend .col-xs-5;
					min-width: initial;
					max-width: none;
					margin-right: 0;
					padding: 0 8px 0 0;
					
					a {
						font-size: 12px;
					}
				}
			}
		}
	}

	.basket-main-container {
		@extend .col-lg-6;
		@extend .col-md-6;
		@extend .col-sm-6;
	}

	.product-container-single {

		.product {

			.product-lead {
				@extend .col-lg-4;
				@extend .col-md-4;
			}

			.details {
				@extend .col-lg-8;
				@extend .col-md-8;
				
				.product-details {
					padding: 8px;
				}

				.product-price-summary {
					padding: 8px;
					border-top: none;
				}
			}

		}
	}

	.product {
		border-top: none;
		margin: 0;
		padding: 0;
		
		.product-lead {
			padding: 0 !important;
			background-colour: red;
		}
		
		.details .product-price-summary .price-summary {

			.price-value {
				float: left;

				.price { 
					font-size: 16px;
					float: left;
				}
			}
		}
	}
}


@media (min-width: 960px) {
	.basket-add {

		.product-container-single .product {

			.product-divider {
				display: none;
			}

			.title {
			  display: none;
			  }
			  
			.details {

				.title {
					display: block;
					width: 100%;
					float: left;
				}

				.product-details {
					width: 100%;
				}

				.product-price-summary {
					width: 100%;
				}
			}

			.add-to-basket {
				display: none;
			}
			
		}
	}
}*/