/*	--------------------------------------------------
	1 Product Container Mixins
------------------------------------------------- */ 
/* Required to sit next to list filters */
.product-container  {
	clear: both;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.product-container  {
		clear: none;
		width: 960px;
		float: right;
	}
}

ul.product-grid-row {
	padding: 0px;
}
	
/* Hide Information Wrapper - only display on lister view */
.product-container-three, .product-container-four {
	
	.product .product-lead .info_wrap {
		display: none !important;
	}
}

@media (max-width: 600px) {
	/* Hide price savings % on mobile - there is no room */
	.product-container-four .product .details .lister-price-details .price-saving span {
		display: none;
	}	
}

/* Product List Container */
.product-container-list {
	.product {
		padding-top: 16px;
		padding-bottom: 16px;
		margin: 4px 0 4px 0;
		border-bottom: solid 1px $tertiary;
	}

	/* Overwrite Display Feature Width */
	.primary-product-information {
		width: 100%;
		right: 0;
	}
}

@media (min-width: 1200px) {
	.product-container-list {
		clear: none;
	}
}


/* Product List Specific Styles */
.show_info_img {
	width: 50%;
}

.show_info, .info_wrap {
	display: none;
}

.show_info {
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 999;

	&:hover {
		cursor: pointer;
	}
}

.info_wrap {
	position: absolute;
	background-color: $white;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0.9;
	padding: 15px;
	padding-top: 0px;
	z-index: 88;
	display: none;

	// .primary-product-information {

	// 	/* Remove Border Top */
	// 	.primary-product-details.features {
	// 		border-top: none;
	// 	}
	// }
}

@media (min-width: 960px) {
	.info_wrap {
		width: 50%;
		display: block;
	}
}

.list-lead {
	height: 240px;

	@media (min-width: 600px) {
		.show_info {
			display: block;
		}
	}

	@media (min-width: 960px) {
		.show_info {
			display: none;
		}
	}

	a.product-thumbnail {
		float: left;
		height: 240px;
		position: relative;
		width: 100%;
		line-height: 240px;
		text-align: center;

		img.product-image {
			max-height: 239px;
			margin: 0 auto;
			width: auto;

			&:hover {
				opacity: 1;
			}
		}
	}

	@media (min-width: 960px) {
		a.product-thumbnail {
			width: 50%;
		}
	}
}


.list-details {
	height: 240px;

	@media (min-width: 600px) {
		.title {
			max-width: 300px;
		}
	}

	.lister-price-details {
		min-height: 80px;
	}

	.was-price {
		height: 18px;	
	}

	.product-review {
		min-height: 26px;
		margin-top: 4px;
	}

	ul.selection-grid {
		min-height: 32px;
	}

	.purchase-button {
		clear: both;

		.button {
			margin: 8px 0 0px 0;
			position: relative;
			padding-top: 10px;
		}
	}

	@media (min-width: 600px) {
		.purchase-button {
			max-width: 300px;	
		}
	}
}

@media (min-width: 960px) {
	.info_wrap {
		width: 50%;
	}
}

.purchase-button {
	clear: both;
	padding-top: 5px;
}	


/*	--------------------------------------------------
		Product
-------------------------------------------------- */ 
	    
.product {
	margin-bottom: 22px;
	list-style: none; 
}

a.product-thumbnail {
	overflow: hidden;

	img.product-image {
		width: 100%;

		&:hover {
			opacity: 0.8;
		}
	}
}	   