/*	--------------------------------------------------
		Product Review & Rating 
-------------------------------------------------- */ 

.product-review {

	.reviews-mobile {
		display: inline-block;
	}

	.reviews {
		display: none;
	}

	@media (min-width: 600px) {

		.reviews-mobile {
			display: none;
		}

		.reviews {
			display: block;
		}
	}
}

/*	--------------------------------------------------
		Product Primary Information Section			
-------------------------------------------------- */ 

/* Product Purchase Information */

@media (min-width: 600px) {
	.p_attr {
		float: right;
	}
}

@media (min-width: 960px) {
	.p_attr {
		float: left;
	}
}

.p_attr {

	// #fixit - require? Perhaps just size class or specific heading tag
	.offer, .price-saving, .was-price  {
		font-size: 16px;
	}

	.price {
		font-size: 24px;
	}
}

.expand-content {
	margin-top: 10px;
	padding-bottom: 15px;
	color: $primary;
	font-weight: normal;
	text-decoration: none;

	&:hover {
	  cursor: pointer;
	  text-decoration: none;
	}
}

// .primary-product-information p {
// 	margin-bottom: 0px;
// }
