// #fixit - FLATTEN

.container.store-finder {
	position: relative;
}

.google-map-container {
	background-color: #2B6A90;
	background-size: auto 95%;
	min-height: 74vh;
	background-size: auto 106%;
	padding: 0px;
	box-shadow: 1px 0 2px rgba(0,0,0,.25);
}

.map-wrapper {
	overflow: hidden;
	display: block;
	position: relative;
}
	
.search-container {
	top: 15px;
	height: 50px;
	position: absolute;
	z-index: 999;
	left: 0;
}

.inner-search-container {
	background-color: white;
	border: 1px solid transparent;
	border-right: 0;
	border-radius: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 48px;
	outline: none;
	vertical-align: top;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	
	form {
		line-height: 24px;
		height: 30px;
		position: relative;
	}
}

td.searchStoreInput {
	border: 0;
	box-shadow: none;
	margin: 0;
	outline: none;
	padding: 0;
	-webkit-box-shadow: none;
	width: 100%;
	
	input {
		border: none;
		padding: 0px;
		margin: 0px;
		height: auto;
		width: 100%;
		outline: none;
		background-color: transparent;
		border: 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		font-size: 16px;
		line-height: 24px;
		color: #212121;
		font-family: $bodyfont;
		font-weight: 300;
		text-overflow: ellipsis;
		margin: 0 !important;
		outline: 0;
		padding: 11px !important;
		width: 100%;
		box-shadow: none;
		height: auto !important;
		transition: none !important;
		-ms-transition: none !important;
		-webkit-transition: none !important;
	}
}

.searchStoreSubmitContainer {
	font-size: 16px;
	padding: 0 2px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	white-space: nowrap;
	width: 40px;
}

span.sf_icon {
	&:before {
		
		content: '';
		    display: block;
		    width: 24px;
		    height: 24px;
		    background: url("/img/sf_glass.png");
		    background-size: 72px 24px;
	}
}

input#searchStore {
	width: 100%;
	background-color:#00FF00;
}

span.searchCta {
	float:right;
	width:80px;
	background-color:#ff0000;
}


// #fixit - flatten


.map-reference {
    color: #db4437;
    display: table-cell;
    font-size: medium;
    padding-top: 13px;
    width: 24px;
}

a.store-cta {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 40px;
	
	span {
		background: no-repeat center;
		// #fixit - ??
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAVFBMVEUAAABDhfhDhvVGiPdChvVCh/ZDhfZChvVDhvVDhvVEhfVCh/REiPVFhvVEhfZChvVEh/hDhfRFh/REiPRDhfVGi/dGjfZChvVChfVDhfVDhvVChfSr9phFAAAAG3RSTlMARfQ+9lFY+vz4gHdLSojbRNpGR7QhHePg5OGREkC4AAAAq0lEQVR4Xo3VxwrDYBADYTndTu9l3/89c8jADxZGmfMHYk8rrzueT8pptalaL/9zyOiQ2SGTixIXJS5KXJa4LHFZ7voROfxkv0+7Gor1sCuTOIMmcQZdtjtudxG1i3D0kKbltbmStS3kRU8Q0By99B7BIuHow7RDXJtWt5iAQ3OzuYQ0aA5p0BzSoDukZQ4ZXJC4JHFR4qLERYmLEhclLkpclLgocVkGF97HF3hFR01eK6XJAAAAAElFTkSuQmCC);
		background-size: 18px 18px;
		display: inline-block;
		height: 18px;
		width: 18px;
	}
}


.sf_panel-right {
	float: right;
}

.sf_pagi_details {
	margin-left: 15px;
	display: inline-block;
	overflow: hidden;
	margin-top: 4px;

	span {
		font-weight: 700;
	}
}

.sf_nav {
	display: block;
	overflow: hidden;
	margin-left: 15px;
	margin-top: 4px;
	float: right;
}

.sf_back, .sf_forward {
	background-size: 18px 18px;
	content: "";
	background-repeat: no-repeat;
	display: inline-block;
	height: 18px;
	width: 30px;
	margin-top: 0px;
	float: right;
	padding-left: 20px;
	
	&.disabled {
		opacity: 0.4;
	}
}

.sf_forward {
	background-image: url(/img/chevron-right.png);
}

.sf_back {
	background-image: url(/img/chevron-left.png);	
}

.fac_wrapper {
    padding-left: 35px;
    margin-top: 3px;
    color: $primary;
}

.fac_available {
	color: $text;
}

.address-list address {
	font-family: $bodyfont;
}

// .hours-table-container {
// 	opacity: 0;
//     position: absolute;
//     visibility: hidden;
//     margin-left: 35px;
    
//     &.open-times {
//     	color: black;
//     	display: block;
//     	height: auto;
//     	margin-top: -3px;
//     	overflow: hidden;
//     	text-decoration: none;
//     	-webkit-transition: opacity 1s;
//     	transition: opacity 1s;
//     	vertical-align: top;
//     	opacity: 1;
//     	position: static;
//     	visibility: inherit;
//     	margin-top: 6px;
//     }

// 	table.hours-table {
// 		min-width: 60px;
// 		padding-right: 24px;
		
// 		.day-label {
// 			min-width: 60px;
// 			padding-right: 24px;
// 		}

// 		.intervals {
// 			padding: 0;
			
// 			span.open-interval {
// 				white-space: nowrap;
// 				background-image: none;
// 				font-weight: 400;
// 			}
// 		}
// 	}
// }

.sf_hrs {
	opacity: 0;
    position: absolute;
    visibility: hidden;
    margin-left: 35px;
}



.sf_open {
	color: black;
	display: block;
	height: auto;
	margin-top: -3px;
	overflow: hidden;
	text-decoration: none;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
	vertical-align: top;
	opacity: 1;
	position: static;
	visibility: inherit;
	margin-top: 6px;
}

table.sf_hr_tb {
	min-width: 60px;
	padding-right: 24px;
}

.sf_day {
	min-width: 60px;
	padding-right: 24px;
}

.intervals {
	padding: 0;
}

span.open-interval {
	white-space: nowrap;
	background-image: none;
	font-weight: 400;
}

.sf_store {
	font-weight: bold;
	font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    font-family: $bodyfont;
}

.store_detail-title {
	display: inline-block;
	    font-weight: 700;
}

// .store_store-address {

// 	address {
	
// 		&:before {
// 			background-image: url(/img/back-arrow.png);
// 			background-size: 22px 22px;
// 			content: "";
// 			display: inline-block;
// 			height: 22px;
// 			width: 22px;
// 			margin-top: 2px;
// 			float: left;
// 			/* position: absolute; */
// 			right: 10px;
// 			top: 10px;
// 			margin-right: 8px;
// 			margin-left: 4px;
// 		}

// 	}
// }

.store_store-address {
	padding-left: 10px;
	
	.detail-title {
		font-size: 18px;
		
		.distance {
			font-weight: lighter;
			display: inline-block;
			font-size: 14px;
			color: #616161;					
		}
	}

	address {
		padding-left: 30px;
	}

	span {
		background: no-repeat center;
	    background-image: url(/img/back-arrow.png);
	    background-size: 28px 28px;
	    display: inline-block;
	    height: 28px;
	    width: 28px;
	    vertical-align: -8px;
	}

}


.sf_store_icon {
	background: no-repeat center;
	background-size: 18px 18px;
	display: inline-block;
	height: 18px;
	width: 18px;
	vertical-align: -4px;
	margin-right: 8px;
	margin-left: 4px;
}

.address-list {

	span.icon {
		background-image: url(/img/store_finder_location.png);
	}

	address {
		padding-left: 35px;
	}
}

.phone-number {

	span.icon {
		background-image: url(/img/store_finder_phone.png);
	}
}

.facilities {

	span.icon {
		background-image: url(/img/store_finder_information.png);
	}

	ul.facilities {
		margin-top: 6px;
		
		li {
			border: none;
			padding: 2px;
			/* padding-left: 35px; */
			list-style: initial;
			margin-left: 32px;
		}
	}
}

.store-map-container {
	padding: 0;
	
	.store-map {
		background-color: #2B6A90;
		/*height: 300px;*/
		height: 200px;
	}
}

.opening-times {

	&:hover {
		cursor: pointer;
	}

	span.icon {
		background: no-repeat center;
		background-image: url(/img/store_finder_clock.png);
		background-size: 18px 18px;
		display: inline-block;
		height: 18px;
		width: 18px;
		vertical-align: -4px;
		margin-right: 8px;
		margin-left: 4px;
	}

	/* Add Dropdown Icon to Times */
	.times {
		display: inline-block;
		
		&:after {
		    background-image: url(/img/chevron-down.png);
		    background-size: 12px 12px;
		    content: "";
		    display: inline-block;
		    height: 12px;
		    width: 16px;
		    margin-left: 7px;
		    margin-right: 4px;
		}
	}

	.up-arrow {
		display: inline-block;

		&:after {
		    background-image: url(/img/chevron-up.png);
		    backg3round-size: 12px 12px;
		    content: "";
		    display: inline-block;
		    height: 12px;
		    width: 16px;
		    margin-left: 7px;
		    margin-right: 4px;
		}
	}
}