/* Font Mixins */
$titlefont: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
// $titlefont: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
 $bodyfont: Helvetica, Arial, sans-serif;

.body_font {
	font-family: $bodyfont; 
}

.title_font {
	font-family: $titlefont; 
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $titlefont;	
  color: $text;
  font-weight: 500;
  line-height: 1.2;
}

a {
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

		&:hover	{
			color: $text;
			text-decoration: none;
		}
	}
}


.h1, .h2, .h3, .h4, .h5, .h6 {
	
	&.dotted {
		border-bottom: 2px dotted $tertiary;
		padding-bottom: 4px;
	}

	&.solid {
		border: 1px solid $secondary;
		padding-bottom: 4px;
	}
}

.h1 {
	font-size: 26px;
}

.h2 {
	font-size: 22px;
}

.h3 {
	font-size: 18px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.capitalised {
	text-transform: uppercase;
}

.bold {
	font-weight: 700 !important;
}

.non-bold {
	font-weight: 400 !important;
}

.italic {
	font-style: italic;
}